---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import C from "./icons/C.astro";
import React from "./icons/ReactJs.astro";
import Node from "./icons/NodeJs.astro";
import Mongo from "./icons/Mongo.astro";
import Electron from "./icons/Electron.astro";
import Huawei from "./icons/Huawei.astro";
import Google from "./icons/Google.astro";
import Anthropic from "./icons/Anthropic.astro";
import Openai from "./icons/Openai.astro";
import Langchain from "./icons/Langchain.astro";
import Aws from "./icons/Aws.astro";

import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white px-2",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white px-2 ",
    icon: Tailwind,
  },
  ELECTRON: {
    name: "Electron",
    class: "bg-black text-white px-2",
    icon: Electron,
  },
  HUAWEI: {
    name: "Huawei Cloud",
    class: "bg-gray-50 text-black px-2",
    icon: Huawei,
  },
  GOOGLE: {
    name: "Google Cloud",
    class: "bg-gray-50 text-gray-900 px-2",
    icon: Google,
  },
  ANTHROPIC: {
    name: "Anthropic",
    class: "bg-gray-50 text-black px-2",
    icon: Anthropic,
  },
  OPENAI: {
    name: "OpenAI",
    class: "bg-gray-50 text-black px-2",
    icon: Openai,
  },
  C: {
    name: "C Plus Plus",
    class: "bg-[#00599c] text-white px-2",
    icon: C,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#003159] text-white px-2",
    icon: React,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#0e4235] text-white px-2", // Cambié la clase para representar Mongo DB
    icon: Node, // Puedes cambiarlo por el ícono correspondiente a Node.js si lo tienes
  },
  MONGO: {
    name: "Mongo DB",
    class: "bg-[#0e4235] text-white px-2", // Cambié la clase para representar Mongo DB
    icon: Mongo, // Puedes cambiarlo por el ícono correspondiente a Mongo DB si lo tienes
  },
  LANGCHAIN: {
    name: "Langchain",
    class: "bg-[#0e4235] text-white px-2", // Cambié la clase para representar Langchain
    icon: Langchain, // Puedes cambiarlo por el ícono correspondiente a Langchain si lo tienes
  },
  AWS: {
    name: "Amazon Web Services",
    class: "bg-[#FF9900] text-black px-2",
    icon: Aws,
  },
};

const PROJECTS = [

  {
    title: "Doubleclics - IT operations automation",
    description:
      "The official website of Doubleclics. The website offers official translation into more than four languages, a contact section, a payment gateway, and a customer service chatbot powered by GPT-4.",

    link: "https://doubleclics.com/",
    image: "/projects/doubleclics.webp",
    github: "https://github.com/Hecze/doubleclics",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND, TAGS.OPENAI],
  },
  {
    title: "Médula - Software Factory",
    description:
      "The official website of Médula. Non-profit research team.  dedicated to the development of generative artificial intelligence, robotics and genetics.",

    link: "https://www.medula.tech/",
    image: "/projects/medula.webp",
    github: "https://github.com/Hecze/medula",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND, TAGS.OPENAI],
  },
  {
    title: "Machine Learning Project - Movie Recomendation System",
    description:
      "This project is a movie recommendation system using content-based filtering with quality-adjusted ratings. It personalizes suggestions based on user ratings, where dislikes impact high-rated movies more and likes enhance low-rated ones. The goal is to explore and demonstrate this algorithm.",

    link: "https://mra-ten.vercel.app/",
    image: "/projects/mra.webp",
    github: "https://github.com/Hecze/movie-recommendation-algorithm",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Flashcards Generator - AI-powered flashcards",
    description:
      "Generates flashcards from any text. This project use AWS S3 to store the files; AWS Lambda to process the files; and AWS API Gateway to manage the API calls. The project also uses OpenAI's GPT-4 and Langchain to generate the flashcards.",

    link: "https://fashcards-generator.vercel.app/",
    image: "/projects/flashcards.webp",
    github: "https://github.com/Hecze/FashcardsGenerator",
    tags: [TAGS.AWS, TAGS.LANGCHAIN, TAGS.OPENAI, ],
  },

  {
    title: "Dandelion - Graph-based file grouping system.",
    description:
      "Next-gen graph-based file manager developed in collaboration with Huawei.",
    link: "https://grafosoma.vercel.app/",
    github: "https://github.com/orgs/grep-fisi/repositories",
    image: "/projects/dandelion.webp",
    tags: [TAGS.HUAWEI, TAGS.ELECTRON, TAGS.REACT, TAGS.TAILWIND],
  },

  {
    title: "Fisidevs - Software Academy.",
    description:
      "The official website of Fididevs. Non-profit academic community empowering university students' talent",
    link: "https://fisidevs.vercel.app/",
    github: "https://github.com/Hecze/fisidevs",
    image: "/projects/fisidevs.webp",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Eneisoft - Play, compete, and win.",
    description:
      "The official website for the national software engineers' meeting. The site's high quality attracted investors, who generously donated scholarships, ensuring substantial prizes for participants and enriching conferences during the event.",
    link: "https://eneisoft.org/",
    github: "https://github.com/Hecze/eneisoft",
    image: "/projects/eneisoft.webp",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND],
  },

  {
    title: "Anecdotes - Anonymous storyteller network",
    description:
      "The project encompasses the creation of an account system that includes registration and login functions, along with the integration of interactive features through Redux to optimize the user experience.",
    link: "https://hecze.github.io/Anecdotes/",
    github: "https://github.com/Hecze/Anecdotes",
    image: "/projects/anecdotes.webp",
    tags: [TAGS.REACT, TAGS.NODE, TAGS.MONGO],
  },

  {
    title: "Genética Cuyística - Genetic modeling in Cavia porcellus",
    description:
      "Development of a computer model to accurately represent genetic inheritance patterns in Cavia porcellus (Guinea Pig), based on post-Mendelian laws and using procedural texture creation",
    link: "https://genetica-cuyistica.vercel.app",
    github: "https://github.com/Hecze/Genetica-Cuyistica",
    image: "/projects/genetics.webp",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Byte - Your beast robotic friend",
    description:
      "Multifunctional robotic dog for recreational, educational, practical, and other purposes.",
    link: "https://noemiticlla.wixsite.com/mikan",
    github: "https://github.com/Hecze/Byte-el-perrobot",
    image: "/projects/byte.webp",
    tags: [TAGS.C],
  },
  {
    title: "WhatsApp Chatbots - Simplify interaction, amplify productivity.",
    description:
      "Development of +10 AI chatbots to automate real estate, mining, stock market, accounting, logistics, travel reservations, and image processing. ",

    image: "/projects/chatbots.webp",
    tags: [TAGS.NODE, TAGS.GOOGLE, TAGS.ANTHROPIC, TAGS.OPENAI],
    github: "https://github.com/search?q=owner%3AHecze+bot&type=repositories",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="xd"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
              width="1000"
              height="1000"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-300 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
